*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(rgba(73,69,77,20),rgba(12,5,50));
    background-repeat: no-repeat;
    height: 100vh; 
}    
h1{
     text-align: center;
     margin: 40px 0 0 0;
     color : pink;
}
.choices, .score-board, .msg-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice{
    margin : 20px;
    box-shadow: 0 0 10px 0 grey;
    border-radius: 8px;
    padding: 20px 10px;
    background-color: rgba(255, 236, 127, 0.678);
    color: rgba(172, 27, 177, 0.719);
}
.choice p{
    font-size: 20px;   
}
.choice:hover{
    opacity: 0.5s;
    border: 2px solid rgba(12, 5, 50, 0.671);
    cursor: pointer;
}
.choice:focus{
    color : white;
}
.score{
    margin : 20px 40px 0 0 ;
    font-size: 25px;
    font-style: arial;
    color : palevioletred
}
.score p{
    padding: 2px 0;
    text-align: center;
}
#msg{
   box-shadow: 0 0 15px 0 pink;
   padding: 15px;
   margin-top: 30px;
   color : pink;
   font-size: 19px;
   border-radius: 8px;
}
